:root{
	--base-color : tomato;
}

*{
	margin: 0;
	padding: 0;
}

body {
	margin-top: 70px;
}

div.maincontent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(3,auto);
	padding: 5vh;
	grid-gap: 1vh;
	min-height: 80vh;
}

div#getinput {
	min-height: 60vh;
	display: grid;
	align-items: center;
	justify-items: center;

}

div.loginform {
	width: 80vh;
	margin: 0 auto;
	padding: 10vh;
}

div#logincontainer{
	box-shadow: 5px 5px 5px 5px rgba(0, 128, 115,0.5);
	padding: 5vh;
}

div#errormessage {
	color: red;
}
